body {
    margin: 0;
    overflow: hidden;    
}

* {
    box-sizing: border-box;      /*  to include border inside container  */
}
.container {
    height: 100vh;
}

.title-bar {
    height: 5vh;
    background-color: #107c41;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.menu-bar {
    height: 5vh;
    background-color: #107c41;
    color: white;
    display: flex;
}

.menu-item {
    padding-right: 1rem;
    padding-left:1rem;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #09552b;
}

.menu-item.selected {
    background-color: #fff;
    color: green;
    cursor: default;
}

.menu-icon-bar {
    height: 6vh;
    background-color: rgb(238, 237, 237);
    display:flex;
    align-items: center;

}

.menu-icon{
    display:flex;
    align-items: center;

    height: 100%;
    padding: 10px;
    padding-top: 13px;

}

.menu-icon:hover {
    background-color: lightgray;
    cursor: pointer;
}

.selector {
    height: 30px;
    width: 120px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    /* -webkit-appearance: none;
    appearance: none; */
}

.font-size-selector{
    width: 45px;
}

.formula-bar {
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    background-color: rgb(238, 237, 237);


}

.formula-editor {          /* same class for both selected cell and formula ip */
    height: 70%;
    border: 1px solid lightgray;
    background-color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    align-items: center;
}

.selected-cell {
    width: 120px;

}

.function-sign {
    width: 40px;
    display: flex;
    justify-content: center;
}

.formula-input {
    width: calc(100vw - 160px);
    outline-color: #107c41;
}

.data-container{
    height: 75vh;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.select-all {
    border: 1px solid lightgray;
    height: 25px;
    width: 35px;
}

.row-name-container{
    border: 1px solid lightgray;
    width: 35px;
    height: calc(75vh - 25px);
    overflow: hidden;

}

.row-name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    min-height: 25px;
    border-bottom: 1px solid lightgray;


}

.column-name-container {
    border: 1px solid lightgray;
    height: 25px;
    width: calc(100vw - 35px);
    display: flex;
    overflow: hidden;
}

.column-name {
    min-width: 90px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
    font-weight: bold;
}

.input-cell-container {
    border: 1px solid lightgray;
    width: calc(100vw - 35px);
    height: calc(75vh - 25px);
    overflow: scroll;
}

.cell-row{
    display: flex;
}

.input-cell {
    min-width: 90px;
    min-height: 25px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    outline-color: #107c41;
    /* display: flex;
    align-items: center; */
    padding-left: 4px;
    padding-top: 3px;
    font-size: 14;
    font-family: "Arial";
}

.input-cell.selected{
    border: 2px solid #107c41;
    background-color: #fff;
    
}

.font-family-selector {
    font-family: Arial, Helvetica, sans-serif; 
}

.sheet-bar {
    height: 4vh;
    display: flex;
    padding-bottom: 3px;
}

.scroller {
    width: 70px;
    display: flex;
    justify-content: center;
}

.icon-left-scroll, .icon-right-scroll {
    font-size: 40px;
    margin-left: 8px;

}

.icon-left-scroll:hover, .icon-right-scroll:hover {
    cursor: pointer;
    background-color: lightgray;
    /* transform: scale(1.3); */

}

.icon-add{
    color: #107c41;
    padding-left: 15px;
    padding-right: 50px;
    width: 50px;
}

.icon-add:hover {
    cursor: pointer;
    transform: scale(1.15);


}

.sheet-tab-container {
    border: 1px solid lightgray;
    width: calc(100vw - 140px);
    padding-bottom: 0px;
}

.sheet-tab {
    height: 100%;
    border-bottom: 4px solid #107c41;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    font-weight:600;
    border-right: 1px solid lightgray;
}

.align-icon[selected=true ] {
    background-color: lightgray;
}


.selected {
    background-color: lightgray;
}

.input-cell.top-cell-selected {
    border-top: none;       /* bcoz top aur left ko kabhi border dia hi nahi tha*/
}

.input-cell.bottom-cell-selected {
    border-bottom: 1px solid lightgray;  /* sirf bottom aur right cell ko border diya tha */
}

.input-cell.right-cell-selected {
    border-right: 1px solid lightgray;
    
}

.input-cell.left-cell-selected {
    border-left: none;
    
}

.color-picker {
    position: absolute;
    width: 26px;
    height: 12px;
    border: none;
    padding: 0;
    top: 30px;
    left: 9px;
    cursor: pointer;
    background-color:rgb(238, 237, 237);
    
}
.color-picker:hover{
    background-color: lightgray ;
}

.icon-color-fill, .icon-color-text {
    position: relative;
}


